<meta charset="utf-8">
<div class="messRemder">
    <div class="systemMess" style="margin-bottom: 50px">
        <p><b>系统消息</b></p>
        <p>
            <span>系统通知</span>
            <span>系统有全体公告,功能改版等消息通知</span>
            <span><input type="checkbox" id="checkbox_c1" class="long_check1" /><label for="checkbox_c1"></label></span>
        </p>
        <p>
            <span>物流通知</span>
            <span>当订单返货,派件,签收时候的消息通知</span>
            <span><input type="checkbox" id="checkbox_c2" class="long_check1" /><label for="checkbox_c2"></label></span>
        </p>
    </div>
    <div class="interactMess">
        <p><b>互动消息</b></p>
        <p>
            <span>评论</span>
            <span>系统有全体公告,功能改版等消息通知</span>
            <span><input type="checkbox" id="checkbox_c3" class="long_check1" /><label for="checkbox_c3"></label></span>
        </p>
        <p>
            <span>私信</span>
            <span>当订单返货,派件,签收时候的消息通知</span>
            <span><input type="checkbox" id="checkbox_c4" class="long_check1" /><label for="checkbox_c4"></label></span>
        </p>
    </div>
</div>
